<ion-view view-title="Nouvelle conversation">
  <ion-content class="padding">
    <form ng-submit="ajouterConversation(name,description)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="name" ng-model="name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="description" ng-model="description">
        </label>
        <button class="button button-block button-positive" type="submit">
          Create
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>

