<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
      <ion-list data-ng-show="messages">
        <ion-item class="message padding-vertical" data-ng-repeat="message in messages | orderBy:'sentDate'">
          <p>{{ message.message }}</p>
          <h6><b>{{ message.sender }}</b>, <span am-time-ago="message.sentDate"></span></h6>
        </ion-item>
      </ion-list>
    </ion-content>

    <!-- Message bar -->
    <ion-footer-bar class="item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" data-ng-model="message" placeholder="Message"/>
      </label>
      <button class="button button-icon icon ion-ios-paperplane" data-ng-click="write(message)" data-ng-disabled="!message"></button>
    </ion-footer-bar>
</ion-view>
