<ion-view view-title="Login">
  <ion-content class="padding">
    <form ng-submit="login(mail,password)">
    <div class="list">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="mail">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <button class="button button-block button-positive" type="submit">
        Sign in
      </button>
    </div>
      <button ui-sref="register" class="button button-full button-balanced">
        Register
      </button>
    </form>
  </ion-content>
</ion-view>
